:root{
  --pink-primary-color: hsl(322, 100%, 66%);
  --purple-primary-color: hsl(256, 41%, 50%);
  --pink-light-color:  hsl(321, 100%, 78%);
  --red-light-color:hsl(0, 100%, 63%);
 
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale: hsl(207, 100%, 98%);
}
